<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_props_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,555},{70,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>bag_props_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,457},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>bound_ic.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,345},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>btn_close__0.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,158},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>btn_close__1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,399},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>btn_freegold_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{165,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,66}}</string>
                <key>sourceSize</key>
                <string>{165,66}</string>
            </dict>
            <key>btn_freegold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,72},{165,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,66}}</string>
                <key>sourceSize</key>
                <string>{165,66}</string>
            </dict>
            <key>btn_mahjong_vip_introduction_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,220},{148,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,46}}</string>
                <key>sourceSize</key>
                <string>{148,46}</string>
            </dict>
            <key>btn_mahjong_vip_introduction_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,172},{148,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,46}}</string>
                <key>sourceSize</key>
                <string>{148,46}</string>
            </dict>
            <key>btn_minus_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,509},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btn_minus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,468},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>btn_newchange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{130,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,67}}</string>
                <key>sourceSize</key>
                <string>{130,67}</string>
            </dict>
            <key>btn_newchange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,268},{130,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,67}}</string>
                <key>sourceSize</key>
                <string>{130,67}</string>
            </dict>
            <key>btn_newgive_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,208},{130,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,67}}</string>
                <key>sourceSize</key>
                <string>{130,67}</string>
            </dict>
            <key>btn_newgive_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,139},{130,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,67}}</string>
                <key>sourceSize</key>
                <string>{130,67}</string>
            </dict>
            <key>btn_plus_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,523},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>btn_plus_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,550},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>btn_shop__0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,277},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>btn_shop__1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,294},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>freegold_numb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,130},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>freegold_numb_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,102},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>mark_mahjong_price_ordinary.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,425},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>mark_mahjong_price_preferential.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,337},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>mark_mahjong_shop_background_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,368},{18,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,98}}</string>
                <key>sourceSize</key>
                <string>{18,98}</string>
            </dict>
            <key>mark_mahjong_shop_background_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{34,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,98}}</string>
                <key>sourceSize</key>
                <string>{34,98}</string>
            </dict>
            <key>mark_mahjong_shop_background_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,268},{10,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,98}}</string>
                <key>sourceSize</key>
                <string>{10,98}</string>
            </dict>
            <key>mark_mahjong_shop_preferential.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,441},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>mark_mahjong_vip_function_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>mark_mahjong_vip_function_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,450},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>mark_mahjong_vip_function_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>mark_mahjong_vip_function_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,345},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>mark_mahjong_vip_introduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,212},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>mark_mahjong_vip_introduction_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,381},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>newopAni6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,135}}</string>
                <key>sourceSize</key>
                <string>{303,135}</string>
            </dict>
            <key>shop_buy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{164,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,68}}</string>
                <key>sourceSize</key>
                <string>{164,68}</string>
            </dict>
            <key>shop_buy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{166,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,68}}</string>
                <key>sourceSize</key>
                <string>{166,68}</string>
            </dict>
            <key>shop_goods_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,513},{70,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>shop_goods_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,441},{70,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>shop_goods_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,369},{70,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>title_mahjong_shop_preferential.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,140},{162,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,30}}</string>
                <key>sourceSize</key>
                <string>{162,30}</string>
            </dict>
            <key>title_mahjong_vip_introduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,277},{102,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,32}}</string>
                <key>sourceSize</key>
                <string>{102,32}</string>
            </dict>
            <key>wanjinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,337},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,30}}</string>
                <key>sourceSize</key>
                <string>{94,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res05.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f19843aad205412681c292606c1addbe$</string>
            <key>textureFileName</key>
            <string>res05.png</string>
        </dict>
    </dict>
</plist>
