<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_box_cancel_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,381},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_box_cancel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,314},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_box_ensure_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,314},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_box_ensure_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,314},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_buy_fast_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,314},{164,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,65}}</string>
                <key>sourceSize</key>
                <string>{164,65}</string>
            </dict>
            <key>btn_buy_fast_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,314},{164,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,65}}</string>
                <key>sourceSize</key>
                <string>{164,65}</string>
            </dict>
            <key>btn_mahjong_guide_complete_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{482,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,58}}</string>
                <key>sourceSize</key>
                <string>{482,58}</string>
            </dict>
            <key>btn_mahjong_guide_complete_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{482,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,58}}</string>
                <key>sourceSize</key>
                <string>{482,58}</string>
            </dict>
            <key>btn_mahjong_main_recharge_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,486},{276,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,61}}</string>
                <key>sourceSize</key>
                <string>{276,61}</string>
            </dict>
            <key>btn_mahjong_main_recharge_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,486},{276,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,63}}</string>
                <key>sourceSize</key>
                <string>{276,63}</string>
            </dict>
            <key>fan_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{104,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,51}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>mark_mahjong_main_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,486},{276,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,63}}</string>
                <key>sourceSize</key>
                <string>{276,63}</string>
            </dict>
            <key>mark_mahjong_payment_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,486},{482,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,4}}</string>
                <key>sourceSize</key>
                <string>{482,4}</string>
            </dict>
            <key>mark_mahjong_preferential_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,8},{698,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,252}}</string>
                <key>sourceSize</key>
                <string>{698,252}</string>
            </dict>
            <key>mark_mahjong_shop_defray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,486},{242,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,159}}</string>
                <key>sourceSize</key>
                <string>{242,159}</string>
            </dict>
            <key>mark_mahjong_shop_defray_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,423},{242,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,159}}</string>
                <key>sourceSize</key>
                <string>{242,159}</string>
            </dict>
            <key>mark_mahjong_shop_defray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,486},{243,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,159}}</string>
                <key>sourceSize</key>
                <string>{243,159}</string>
            </dict>
            <key>mark_mahjong_shop_defray_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,262},{242,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,159}}</string>
                <key>sourceSize</key>
                <string>{242,159}</string>
            </dict>
            <key>mark_mahjong_shop_defray_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,314},{242,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,159}}</string>
                <key>sourceSize</key>
                <string>{242,159}</string>
            </dict>
            <key>mark_mahjong_shop_defray_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,764},{243,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,159}}</string>
                <key>sourceSize</key>
                <string>{243,159}</string>
            </dict>
            <key>mark_mahjong_vip_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,4}}</string>
                <key>sourceSize</key>
                <string>{960,4}</string>
            </dict>
            <key>new_trusteeship.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{415,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,58}}</string>
                <key>sourceSize</key>
                <string>{415,58}</string>
            </dict>
            <key>shop_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,184},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>shop_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,8},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>shop_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,87},{95,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,85}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>shop_gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,218},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>shop_gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,120},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>shop_gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,8},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>ting_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{3,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,150}}</string>
                <key>sourceSize</key>
                <string>{3,150}</string>
            </dict>
            <key>towards_AI_IC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res04.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1269845c13382d597b93a04f0156e99b$</string>
            <key>textureFileName</key>
            <string>res04.png</string>
        </dict>
    </dict>
</plist>
