<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>os_tianfu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>os_tianfu_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1334,146}}</string>
                <key>offset</key>
                <string>{0,-302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,604},{1334,146}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>os_tianfu_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{1334,538}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,212},{1334,538}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OS_mainmenu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5db8466b46c13b325b3afdcc14d9cce3$</string>
            <key>textureFileName</key>
            <string>OS_mainmenu.png</string>
        </dict>
    </dict>
</plist>
