<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1__slip.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,11},{418,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,42}}</string>
                <key>sourceSize</key>
                <string>{418,42}</string>
            </dict>
            <key>2__slip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,11},{418,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,42}}</string>
                <key>sourceSize</key>
                <string>{418,42}</string>
            </dict>
            <key>3_slip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,2},{745,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,6}}</string>
                <key>sourceSize</key>
                <string>{745,6}</string>
            </dict>
            <key>IDProtect.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,867},{240,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,66}}</string>
                <key>sourceSize</key>
                <string>{240,66}</string>
            </dict>
            <key>bag_title_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1129},{88,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{88,36}</string>
            </dict>
            <key>boundemail.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,360},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>boundphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,935},{234,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,70}}</string>
                <key>sourceSize</key>
                <string>{234,70}</string>
            </dict>
            <key>btn_about_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1191},{62,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,154}}</string>
                <key>sourceSize</key>
                <string>{62,154}</string>
            </dict>
            <key>btn_about_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1229},{62,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,154}}</string>
                <key>sourceSize</key>
                <string>{62,154}</string>
            </dict>
            <key>btn_apply__00.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,591},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>btn_apply__01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,76}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>btn_back__0.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1173},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>btn_back__1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1127},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>btn_cancel_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,55},{388,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,90}}</string>
                <key>sourceSize</key>
                <string>{388,90}</string>
            </dict>
            <key>btn_cancel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,147},{388,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,88}}</string>
                <key>sourceSize</key>
                <string>{388,88}</string>
            </dict>
            <key>btn_continue_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,511},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>btn_continue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>btn_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,643},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>btn_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,960},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>btn_down_install_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{388,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,90}}</string>
                <key>sourceSize</key>
                <string>{388,90}</string>
            </dict>
            <key>btn_down_install_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{388,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,88}}</string>
                <key>sourceSize</key>
                <string>{388,88}</string>
            </dict>
            <key>btn_enter_game_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1007},{234,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,68}}</string>
                <key>sourceSize</key>
                <string>{234,68}</string>
            </dict>
            <key>btn_enter_game_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1085},{234,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,66}}</string>
                <key>sourceSize</key>
                <string>{234,66}</string>
            </dict>
            <key>btn_fan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1165},{62,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,154}}</string>
                <key>sourceSize</key>
                <string>{62,154}</string>
            </dict>
            <key>btn_fan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1101},{62,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,154}}</string>
                <key>sourceSize</key>
                <string>{62,154}</string>
            </dict>
            <key>btn_faq_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1037},{62,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,154}}</string>
                <key>sourceSize</key>
                <string>{62,154}</string>
            </dict>
            <key>btn_faq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1143},{62,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,154}}</string>
                <key>sourceSize</key>
                <string>{62,154}</string>
            </dict>
            <key>btn_gold_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1077},{64,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,154}}</string>
                <key>sourceSize</key>
                <string>{64,154}</string>
            </dict>
            <key>btn_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,971},{64,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,154}}</string>
                <key>sourceSize</key>
                <string>{64,154}</string>
            </dict>
            <key>btn_goods_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,905},{64,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,154}}</string>
                <key>sourceSize</key>
                <string>{64,154}</string>
            </dict>
            <key>btn_goods_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1201},{64,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,154}}</string>
                <key>sourceSize</key>
                <string>{64,154}</string>
            </dict>
            <key>btn_mahjong_info_vip_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,680},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btn_mahjong_info_vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1085},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>btn_man_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1193},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>btn_man_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1193},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>btn_onl_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,606},{134,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,51}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>btn_onl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{134,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,51}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>btn_protect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>btn_protect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,827},{280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,76}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>btn_pw_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>btn_pw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,76}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>btn_record_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,606},{131,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,63}}</string>
                <key>sourceSize</key>
                <string>{131,63}</string>
            </dict>
            <key>btn_record_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,606},{131,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,63}}</string>
                <key>sourceSize</key>
                <string>{131,63}</string>
            </dict>
            <key>btn_save_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>btn_save_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,749},{280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,76}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>btn_sendemail_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,519},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>btn_sendemail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,713},{280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,76}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>btn_surebound0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,431},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>btn_surebound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,671},{280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,76}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>btn_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,606},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>btn_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,875},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>btn_woman_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1135},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>btn_woman_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1077},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>camera_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{336,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,96}}</string>
                <key>sourceSize</key>
                <string>{336,96}</string>
            </dict>
            <key>camera_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{336,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,94}}</string>
                <key>sourceSize</key>
                <string>{336,94}</string>
            </dict>
            <key>changePW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1023},{248,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,60}}</string>
                <key>sourceSize</key>
                <string>{248,60}</string>
            </dict>
            <key>change_btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,169},{212,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,60}}</string>
                <key>sourceSize</key>
                <string>{212,60}</string>
            </dict>
            <key>change_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,498},{212,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,58}}</string>
                <key>sourceSize</key>
                <string>{212,58}</string>
            </dict>
            <key>choice.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1023},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,971},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>enterboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{362,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,64}}</string>
                <key>sourceSize</key>
                <string>{362,64}</string>
            </dict>
            <key>gold_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,55},{214,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,50}}</string>
                <key>sourceSize</key>
                <string>{214,50}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1045},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>luck_help_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,107},{212,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,60}}</string>
                <key>sourceSize</key>
                <string>{212,60}</string>
            </dict>
            <key>luck_help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,231},{212,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,58}}</string>
                <key>sourceSize</key>
                <string>{212,58}</string>
            </dict>
            <key>luck_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,291},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,801},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>mark_mahjong_info_separate_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,6},{4,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,352}}</string>
                <key>sourceSize</key>
                <string>{4,352}</string>
            </dict>
            <key>money_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1131},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>new_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,497},{262,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,54}}</string>
                <key>sourceSize</key>
                <string>{262,54}</string>
            </dict>
            <key>nochioce.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,291},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>old_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,867},{262,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,50}}</string>
                <key>sourceSize</key>
                <string>{262,50}</string>
            </dict>
            <key>one_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{8,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,2}}</string>
                <key>sourceSize</key>
                <string>{8,2}</string>
            </dict>
            <key>pass_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{262,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,48}}</string>
                <key>sourceSize</key>
                <string>{262,48}</string>
            </dict>
            <key>password_btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,431},{280,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,78}}</string>
                <key>sourceSize</key>
                <string>{280,78}</string>
            </dict>
            <key>password_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,237},{280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,76}}</string>
                <key>sourceSize</key>
                <string>{280,76}</string>
            </dict>
            <key>pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,761},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,749},{240,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,66}}</string>
                <key>sourceSize</key>
                <string>{240,66}</string>
            </dict>
            <key>photo_album_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,237},{336,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,96}}</string>
                <key>sourceSize</key>
                <string>{336,96}</string>
            </dict>
            <key>photo_album_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,335},{336,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,94}}</string>
                <key>sourceSize</key>
                <string>{336,94}</string>
            </dict>
            <key>price.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1201},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>set.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1103},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>sourceSize</key>
                <string>{124,64}</string>
            </dict>
            <key>setting_audio.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{200,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,46}}</string>
                <key>sourceSize</key>
                <string>{200,46}</string>
            </dict>
            <key>setting_out_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,558},{200,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,46}}</string>
                <key>sourceSize</key>
                <string>{200,46}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,905},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>shop_gold_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,817},{246,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,48}}</string>
                <key>sourceSize</key>
                <string>{246,48}</string>
            </dict>
            <key>shop_money_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1169},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>slip_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{865,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{865,7}}</string>
                <key>sourceSize</key>
                <string>{865,7}</string>
            </dict>
            <key>sure000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,805},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,11},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>title_mahjong_Email.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,995},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>title_mahjong_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1037},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>sourceSize</key>
                <string>{124,64}</string>
            </dict>
            <key>title_more_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,432},{224,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,64}}</string>
                <key>sourceSize</key>
                <string>{224,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res02.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d7f52a8b1626862db928ece4d8628b$</string>
            <key>textureFileName</key>
            <string>res02.png</string>
        </dict>
    </dict>
</plist>
