<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,648},{232,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,294}}</string>
                <key>sourceSize</key>
                <string>{232,294}</string>
            </dict>
            <key>arena2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,576},{232,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,294}}</string>
                <key>sourceSize</key>
                <string>{232,294}</string>
            </dict>
            <key>arena3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{232,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,294}}</string>
                <key>sourceSize</key>
                <string>{232,294}</string>
            </dict>
            <key>arena4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,352},{232,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,294}}</string>
                <key>sourceSize</key>
                <string>{232,294}</string>
            </dict>
            <key>arena5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{232,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,294}}</string>
                <key>sourceSize</key>
                <string>{232,294}</string>
            </dict>
            <key>arena6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,294}}</string>
                <key>sourceSize</key>
                <string>{232,294}</string>
            </dict>
            <key>btn_luck_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,202},{184,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,94}}</string>
                <key>sourceSize</key>
                <string>{184,94}</string>
            </dict>
            <key>btn_luck_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,202},{180,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,94}}</string>
                <key>sourceSize</key>
                <string>{180,94}</string>
            </dict>
            <key>btn_mahjong_scenes_alms_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,176},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>btn_mahjong_scenes_alms_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,194},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>btn_mahjong_scenes_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,944},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>btn_mahjong_scenes_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,928},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>btn_mahjong_scenes_email_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,944},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>btn_mahjong_scenes_email_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,438},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>btn_mahjong_scenes_send_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,906},{138,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,62}}</string>
                <key>sourceSize</key>
                <string>{138,62}</string>
            </dict>
            <key>btn_mahjong_scenes_send_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,788},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>btn_mahjong_scenes_shop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,448},{152,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,94}}</string>
                <key>sourceSize</key>
                <string>{152,94}</string>
            </dict>
            <key>btn_mahjong_scenes_shop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,810},{148,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,94}}</string>
                <key>sourceSize</key>
                <string>{148,94}</string>
            </dict>
            <key>btn_mahjong_scenes_speaker_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,298},{138,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,62}}</string>
                <key>sourceSize</key>
                <string>{138,62}</string>
            </dict>
            <key>btn_mahjong_scenes_speaker_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,648},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>btn_mahjong_scenes_task_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,352},{154,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,96}}</string>
                <key>sourceSize</key>
                <string>{154,96}</string>
            </dict>
            <key>btn_mahjong_scenes_task_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,810},{148,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,94}}</string>
                <key>sourceSize</key>
                <string>{148,94}</string>
            </dict>
            <key>btn_mahjong_scenes_top_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{182,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,96}}</string>
                <key>sourceSize</key>
                <string>{182,96}</string>
            </dict>
            <key>btn_mahjong_scenes_top_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,352},{178,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,94}}</string>
                <key>sourceSize</key>
                <string>{178,94}</string>
            </dict>
            <key>chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{820,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,52}}</string>
                <key>sourceSize</key>
                <string>{820,52}</string>
            </dict>
            <key>detail_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{306,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,148}}</string>
                <key>sourceSize</key>
                <string>{306,148}</string>
            </dict>
            <key>hall_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,298},{276,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,110}}</string>
                <key>sourceSize</key>
                <string>{276,110}</string>
            </dict>
            <key>mark_mahjong_head_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,728},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>mark_mahjong_head_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,576},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>mark_mahjong_info_head_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{172,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>mark_mahjong_scenes_separated.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,258},{4,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,44}}</string>
                <key>sourceSize</key>
                <string>{4,44}</string>
            </dict>
            <key>mark_mahjong_table_vip_background_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{306,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,148}}</string>
                <key>sourceSize</key>
                <string>{306,148}</string>
            </dict>
            <key>mark_mahjong_table_vip_background_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,152},{288,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,48}}</string>
                <key>sourceSize</key>
                <string>{288,48}</string>
            </dict>
            <key>mark_mahjong_task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,924},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>mark_mahjong_task_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,258},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>mark_mahjong_task_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,176},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>mark_mahjong_task_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,258},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>mark_mahjong_task_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,218},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>mark_mahjong_task_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,882},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mark_mahjong_task_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,586},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>mark_mahjong_task_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,258},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>mark_mahjong_task_numeral.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,152},{306,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,40}}</string>
                <key>sourceSize</key>
                <string>{306,40}</string>
            </dict>
            <key>mark_mahjong_task_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,246},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>mark_mahjong_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,194},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>task_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,194},{194,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,90}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>task_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,508},{128,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755c4f4ec03ad21e49a27af6ed6ea66f$</string>
            <key>textureFileName</key>
            <string>res01.png</string>
        </dict>
    </dict>
</plist>
