<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,246},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>me_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{62,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{62,96}</string>
            </dict>
            <key>me_card_lie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>me_card_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,112}}</string>
                <key>sourceSize</key>
                <string>{74,112}</string>
            </dict>
            <key>me_card_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>mj_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,164},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>mj_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>mj_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,398},{40,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{40,84}</string>
            </dict>
            <key>mj_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,284},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>mj_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,312},{40,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{40,84}</string>
            </dict>
            <key>mj_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{40,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,86}}</string>
                <key>sourceSize</key>
                <string>{40,86}</string>
            </dict>
            <key>mj_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,200},{42,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,82}</string>
            </dict>
            <key>mj_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,284},{42,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,82}</string>
            </dict>
            <key>mj_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,410},{42,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>mj_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,366},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>mj_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,442},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>mj_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>mj_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,450},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>mj_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,284},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,74}}</string>
                <key>sourceSize</key>
                <string>{50,74}</string>
            </dict>
            <key>mj_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mj_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,80},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>mj_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,84},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>mj_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,116},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>mj_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>mj_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>mj_01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,166},{62,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{62,78}</string>
            </dict>
            <key>mj_01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,84},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>mj_01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,200},{56,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>mj_01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,368},{56,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>mj_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{57,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,76}}</string>
                <key>sourceSize</key>
                <string>{57,76}</string>
            </dict>
            <key>op_mj_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,43},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>residual_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>table_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,240},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>towards_lie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,80},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>towards_lie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,152},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>towards_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,442},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res_mj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5ede1edfd5c3e2b0aec519e5e31a30$</string>
            <key>textureFileName</key>
            <string>res_mj.png</string>
        </dict>
    </dict>
</plist>
